- inviter = @inviter.decorate

.container{:style => 'border-style: solid; border-width: 1px; border-color: rgb(233, 233, 233); background-color: rgb(255, 255, 255); position: absolute; left: 40px; top: 0px; width: 616px; height: 500px; z-index: 3'}



  .nav{:style => 'position: abosolute; top: 5px; height: 60px; border-bottom: solid 1px rgb(233,233,233) !important; display: block'}
    .logo{:style => 'font-size: 30px; font-family: "Roboto"; color: rgb(240, 94, 51); float: left; padding: 15px;'} Kidio




  .body{:style => 'padding-top: 80px; display: block; text-align: center;'}
    - if Rails.env.development?
      = image_tag "#{@base_url}/#{inviter.avatar.url}",
        :style => 'border-radius:50%; width: 80px; height: 80px;'
    - else
      = image_tag inviter.avatar.url,
        :style => 'border-radius:50%; width: 80px; height: 80px;'

    .inviter-name{:style => 'font-size: 30px; font-family: "Roboto"; color: rgb(240, 94, 51); margin-top: 10px;'}
      = inviter.full_name

    .sub-text{:style => 'font-size: 18px; font-family: "Roboto"; color: rgb(87, 87, 87); line-height: 4; margin-top'}
      Wants to be friends with you on Kidio


    .text-center{:style => 'text-align: center; margin-left: 36%;'}
      = link_to confirm_friend_url(inviter), :style => 'font-family: "Roboto"; text-align:center; color: #ffffff; text-decoration: none' do
        .btn{:style => 'text-decoration: none; text-align: center; margin-top: 10px; border-radius: 8px; background-color: rgb(240, 94, 51); width: 176px; height: 38px; line-height: 2.3'}
          CONFIRM REQUEST
