#pins.transitions-enabled
  .box.wrapper
    .panel.panel-default
      .panel-content
        .panel-body
          =link_to "UPLOAD YOUR IMAGE", uploading_path, class: "btn btn-block btn-orange"
          .input-group.tag-filter
            %input.form-control{type: 'text'}
            %span.input-group-addon.btn.btn-black
              %span.fa.fa-caret-down
    .panel.panel-default
      .panel-content
        .panel-body
          %h3 Hashtags
          .hashtags-container
            - @tags.each do |tag|
              .hashtag{href: "#"}
                = link_to("##{tag}", get_mark_tag_url(tag))
                = link_to get_unmark_tag_url(tag) do
                  %span.close ×
    .panel.panel-default
      .panel-content
        .panel-body
          = link_to "view all", family_bonds_path, class: "pull-right orange help"
          %h3 Friends
          - current_user.family.each do |friend|
            = link_to user_path(friend), class: "friend", title: "#{friend.full_name}" do
              = image_tag friend.avatar, width: 30, height: 30 

  - @pins.each do |pin|
    .box.panel.panel-default
      .panel-content
        .photo-wrap
          = link_to (image_tag pin.image.url(:medium), class: "image"), pin
        .panel-body
          .description
            = raw pin.description
          .hashtags
            = raw pin.tag_list.map { |t| link_to "#{t}", tag_path(t) }.join('  ')
          .friends
            %a.icon.first{href: "#"}
            %a.icon.second{href: "#"}
            %a.icon.other{href: "#"}
        .footer
          %span.pull-right
            %span.fa.fa-comments-o
            23
            %span.orange (+3)
          %a{href: "#"}
            %span.avatar-mini
              = image_tag pin.user.avatar, width: 30, height: 30 
            %span.author 
              = pin.user.full_name
