.modal-body
  .row
    .modal-picture.col-md-7
      = image_tag @pin.image.url(:original), style: "width: 100%"
    .modal-panel.col-md-5
      .modal-description
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} X
        .description
          %p
            = @pin.description
          %p.info
            %span.fa.fa-clock-o
            17 Feb 2016 7.30pm
          .hashtags
            = raw @pin.album.tag_list.map { |t| link_to "##{t}", tag_path(t) }.join('  ')
      .modal-comments
        .modal-messages
          %table.comment
            %tr
              %td.icon
                = image_tag User.all.sample.avatar, width: 30, height: 30
              %td.message
                Lorem ipsum dolor sit amet, consectetur adipis cing elit ipsum dolor sit amet, consectetur
                %p.info
                  17 Feb 2016 7.30pm
          %table.comment
            %tr
              %td.icon
                = image_tag User.all.sample.avatar, width: 30, height: 30
              %td.message
                A sodales a cras id accumsan volutpat feugiat orci interdum mus ullamcorper posuere sagittis adipiscing ac feugiat vestibulum est.Adipiscing potenti nunc ullamcorper.
                %p.info
                  17 Feb 2016 7.30pm
          %table.comment
            %tr
              %td.icon
                = image_tag User.all.sample.avatar, width: 30, height: 30
              %td.message
                Vel erat posuere donec non at class a a nascetur a vestibulum.
                %p.info
                  17 Feb 2016 7.30pm
          %table.comment
            %tr
              %td.icon
                = image_tag User.all.sample.avatar, width: 30, height: 30
              %td.message
                Eros id a mi scelerisque habitant arcu himenaeos fames id a nunc enim quam egestas egestas nam fermentum scelerisque penatibus parturient scelerisque ligula scelerisque.
                %p.info
                  17 Feb 2016 7.30pm
          %table.comment
            %tr
              %td.icon
                = image_tag User.all.sample.avatar, width: 30, height: 30
              %td.message
                Torquent arcu laoreet tristique morbi egestas parturient ullamcorper viverra scelerisque volutpat egestas a ultrices vestibulum nisi vestibulum egestas facilisis condimentum volutpat porta.
                %p.info
                  17 Feb 2016 7.30pm
          %table.comment
            %tr
              %td.icon
                = image_tag User.all.sample.avatar, width: 30, height: 30
              %td.message
                Sed dictum a vestibulum suspendisse faucibus scelerisque placerat senectus a litora dictumst vulputate sociosqu vulputate.
                %p.info
                  17 Feb 2016 7.30pm
          %table.comment
            %tr
              %td.icon
                = image_tag User.all.sample.avatar, width: 30, height: 30
              %td.message
                Lorem ipsum dolor sit amet, consectetur adipis cing elit ipsum dolor sit amet, consectetur
                %p.info
                  17 Feb 2016 7.30pm
          %table.comment
            %tr
              %td.icon
                = image_tag User.all.sample.avatar, width: 30, height: 30
              %td.message
                Lorem ipsum dolor sit amet, consectetur adipis cing elit ipsum dolor sit amet, consectetur
                %p.info
                  17 Feb 2016 7.30pm
          %table.comment
            %tr
              %td.icon
                = image_tag User.all.sample.avatar, width: 30, height: 30
              %td.message
                Et a bibendum scelerisque a parturient phasellus ullamcorper ad nunc eu senectus consectetur convallis vestibulum rhoncus montes vulputate ut sit pretium.
                %p.info
                  17 Feb 2016 7.30pm
          %table.comment
            %tr
              %td.icon
                = image_tag User.all.sample.avatar, width: 30, height: 30
              %td.message
                Lorem ipsum dolor sit amet, consectetur adipis cing elit ipsum dolor sit amet, consectetur
                %p.info
                  17 Feb 2016 7.30pm
        .modal-input
          %textarea.form-control
