

= link_to "Add new pin", new_pin_path
%br
= link_to "Add new album", new_album_path

%table.table.table-bordered
  %thead
    %tr
      %th
        Title
      %td
        Image
      %td
        Description
      %td
        Album
      %td
        Actions
  %tbody
    - current_user.pins.each do |pin|
      %tr
        %td
          = pin.title
        %td
          %img{height: "100", width: "100", src: "#{pin.image.to_s}"}
        %td
          = pin.description
        %td
          - if pin.album.present?
            = link_to pin.album.title, pin.album
        %td
          = link_to "Edit", edit_pin_path(pin)

