.page

  .cover
    %h1= t('welcome')
    %p= t('welcome_p')

  #pins.transitions-enabled
    .col-md-3.wrapper
      = render :partial => 'shared/sidebar', :locals => {:tags => @tags}

    .col-md-9
      .panel.panel-default
        .panel-body.search-panel
          %ul.nav.nav-tabs.search-tab{:role => 'tablist'}
            %li.active{:role => 'presentation'}
              %a{'aria-controls' => 'people', 'data-toggle' => 'tab', :href => '#people', :role => 'tab'}
                PEOPLE
                %span.badge= @users.count
            %li{:role => 'presentation'}
              %a{'aria-controls' => 'albums', 'data-toggle' => 'tab', :href => '#albums', :role => 'tab'}
                ALBUMS
                %span.badge= @albums.count
            %li{:role => 'presentation'}
              %a{'aria-controls' => 'photos', 'data-toggle' => 'tab', :href => '#photos', :role => 'tab'}
                PHOTOS
                %span.badge= @pins.count

            %li{:role => 'presentation'}
              %a{'aria-controls' => 'hashtags', 'data-toggle' => 'tab', :href => '#hashtags', :role => 'tab'}
                HASHTAGS
                %span.badge= @hashtags.count



    .col-md-9
      .tab-content
        #people.tab-pane.active{:role => 'tabpanel'}
          - @users.each do |user|
            - next if user.invited_user?

            .user-container
              = image_tag user.avatar.url

              .name= user.full_name
              .location= user.address

              - if current_user.friends_with? user
                = link_to 'ALREADY FRIENDS', '#', :disabled => true,
                  :class => 'btn btn-default btn-block friend-btn'

              - elsif current_user.pending_friends.include? user
                = link_to 'PENDING REQUEST', '#', :disabled => true,
                  :class => 'btn btn-default btn-block friend-btn'

              - elsif current_user.requested_friends.include? user
                = link_to 'CONFIRM FRIEND', friend_path(user),
                  :class => 'btn btn-default btn-block friend-btn'

              - else
                = link_to 'ADD TO FRIENDS', friends_path(:user_id => user),
                  :method => :post, :class => 'btn btn-default btn-block friend-btn'



        #albums.tab-pane{:role => 'tabpanel'}
          .albums
            .row
              - @albums.each do |album|
                .col-md-6
                  .media
                    .media-left
                      = image_tag album.cover.image.url(:album_cover)
                    .media-body
                      %h4.media-heading= album.title
                      .media-middle= album.description



        #photos.tab-pane{:role => 'tabpanel'}
          #pins
            - @pins.each do |pin|
              .col-md-4
                .box.panel.panel-default
                  .panel-content
                    .photo-wrap
                      = link_to pin, 'data-toggle' => 'modal', 'data-target' => "#pin#{pin.id}" do
                        = image_tag pin.image.url(:medium), class: 'image'
                      - if pin.description? and pin.tag_list
                        .panel-body
                          - if pin.description?
                            = raw pin.description
                          - if pin.tag_list
                            .hashtags
                              = raw pin.tag_list.map {|t| link_to "##{t}", tag_path(t) }.join('  ')
                    .footer
                      %span.pull-right
                        %span.fa.fa-comments-o
                        = pin.comments.count
                        -#%span.orange (+3)
                      %a{href: "#"}
                        %span.avatar-mini
                          = image_tag pin.user.avatar, width: 30, height: 30
                        %span.author
                          = pin.user.decorate.full_name

        #hashtags.tab-pane{:role => 'tabpanel'}
          .hashtags-container
            %ul
              - @hashtags.each do |tag|
                %li
                  .hashtag{href: "#"}
                    = link_to user_tag_path(current_user, tag.name) do
                      %h4 ##{tag}



    - @pins.each do |pin|
      = content_tag :div, class: 'modal fade', id: "pin#{pin.id}", "aria-labelledby" => "signUpModalLabel", :role => "dialog", :tabindex => "-1" do
        = content_tag :div, class: 'modal-dialog modal-custom' do
          = content_tag :div, '', class: 'modal-content'

:coffee
  new App.Explore el: $('.page')
