= title 'Kidio - Home'

.page
  = hidden_field_tag :sign_in_count, current_user.sign_in_count
  .cover{:style => 'height: 1202px;'}
    %h1= t('welcome')
    %p= t('welcome_p')


  .col-md-3.wrapper
    = render :partial => 'shared/sidebar', :locals => {:tags => @tags}

  .col-md-6
    #pins
      - @pins.each do |pin|
        .box.panel.panel-default
          .panel-content
            .photo-wrap
              = link_to pin, 'data-toggle' => 'modal', 'data-target' => "#pin#{pin.id}" do
                = image_tag pin.image.url(:medium), class: 'image'
              - if pin.description? and pin.tag_list
                .panel-body
                  - if pin.description?
                    = raw pin.description
                  - if pin.tag_list
                    .hashtags
                      = raw pin.tag_list.map {|t| link_to "##{t}", tag_path(t) }.join('  ')
            .footer
              %span.pull-right
                %span.fa.fa-comments-o
                = pin.comments.count
                -#%span.orange (+3)
              %a{href: "#"}
                %span.avatar-mini
                  = image_tag pin.user.avatar, width: 30, height: 30
                %span.author
                  = pin.user.full_name

  .col-md-3.box-right
    = render :partial => 'shared/sidebar_right',
      :locals => {:non_friends => @non_friends}

  - @pins.each do |pin|
    = content_tag :div, class: 'modal fade', id: "pin#{pin.id}", "aria-labelledby" => "signUpModalLabel", :role => "dialog", :tabindex => "-1" do
      = content_tag :div, class: 'modal-dialog modal-custom' do
        = content_tag :div, '', class: 'modal-content'

:coffee
  new App.Explore el: $('.page')
