.page

  .cover
    %h1= t('welcome')
    %p= t('welcome_p')

  #pins.transitions-enabled
    .box.wrapper
      .panel.panel-default.panel-action
        .panel-body
          = link_to 'Upload', upload_path, {id: 'upload-button'}

      .panel.panel-default
        .panel-content
          .panel-body
            %h3 Hashtags
            .hashtags-container
              - @tags.each do |tag|
                .hashtag{href: "#"}
                  = link_to("##{tag}", get_mark_tag_url(tag))
                  = link_to get_unmark_tag_url(tag) do
                    %span.close ×
      .panel.panel-default
        .panel-content
          .panel-body
            = link_to "view all", family_bonds_path, class: "pull-right orange help"
            %h3 Friends
            - current_user.family.each do |friend|
              = link_to user_path(friend), class: "friend", title: "#{friend.full_name}" do
                = image_tag friend.avatar, width: 30, height: 30

    - @pins.each do |pin|
      .box.panel.panel-default
        .panel-content
          .photo-wrap
            = link_to pin, 'data-toggle' => 'modal', 'data-target' => "#pin#{pin.id}" do
              = image_tag pin.image.url(:medium), class: 'image'
            - if pin.description? and pin.tag_list
              .panel-body
                - if pin.description?
                  = raw pin.description
                - if pin.tag_list
                  .hashtags
                    = raw pin.tag_list.map {|t| link_to "##{t}", tag_path(t) }.join('  ')
          .footer
            %span.pull-right
              %span.fa.fa-comments-o
              = pin.comments.count
              -#%span.orange (+3)
            %a{href: "#"}
              %span.avatar-mini
                = image_tag pin.user.avatar, width: 30, height: 30
              %span.author
                = pin.user.full_name

  - @pins.each do |pin|
    = content_tag :div, class: 'modal fade', id: "pin#{pin.id}", "aria-labelledby" => "signUpModalLabel", :role => "dialog", :tabindex => "-1" do
      = content_tag :div, class: 'modal-dialog modal-lg' do
        = content_tag :div, '', class: 'modal-content'

:coffee
  new App.Explore el: $('.page')