= form_for @user, url: change_password_user_path(current_user), html: {class: "form-horizontal"} do |f|
  - if @user.errors.any?
    #errors
      %h2
        = pluralize(@user.errors.count, "error")
        prevented this Pin from saving
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    .row
      = f.label :current_password, "Current Password", class: "col-md-2 control-label"
      .col-md-5
        = f.password_field :current_password, class: "form-control"

  .form-group
    .row
      = f.label :password, "New Password", class: "col-md-2 control-label"
      .col-md-5
        = f.password_field :password, class: "form-control"

  .form-group
    .row
      = f.label :password_confirmation, "Confirm Password", class: "col-md-2 control-label"
      .col-md-5
        = f.password_field :password_confirmation, class: "form-control"
  .form-group
    .row
      .col-md-5.col-md-offset-2
        = f.button "Change Password", class: "btn btn-danger"
