-#
-# locals:
-# tags
-#

.panel.panel-default.panel-action
  .panel-body
    = link_to 'Upload', upload_path, {:id => 'upload-button'}

.panel.panel-default
  .panel-content
    .panel-body
      %h3.sidebar-label Hashtags
      .hashtags-container
        - if tags.empty?
          .no-tags-text You don't have any hashtags. Try adding some to your photos.

          = link_to 'GO TO MY ALBUMS', :albums,
            :class => 'btn btn-default btn-block sidebar-btn'

        - tags.each do |tag|
          .hashtag{href: "#"}
            = link_to("##{tag}", user_tag_path(current_user, tag.name))
            = link_to get_unmark_tag_url(tag) do
              %span.close ×

.panel.panel-default
  .panel-content
    .panel-body
      - if current_user.friends.present?
        = link_to 'View all', family_bonds_path,
          :class => 'pull-right orange help'

      %h3.sidebar-label Friends

      - if current_user.friends.empty?
        .no-friends-text You don't have any friends added yet.

        = link_to 'INVITE FRIENDS', :explore,
          :class => 'btn btn-default btn-block sidebar-btn'
      - else
        - current_user.friends.each do |friend|
          = link_to user_path(friend), :class => 'friend',
            :title=> "#{friend.full_name}" do
            = image_tag friend.avatar, :width => 30, :height => 30
