.page
  %h1
    = @album.title

  = link_to '← Back to albums', albums_path

  #pins.transitions-enabled
    - @album.pins.each do |pin|
      .box.panel.panel-default.pin
        %img.remove-button{src: '/images/remove_button.svg', 'data-id' => pin.id}
        .panel-content
          .photo-wrap
            = image_tag pin.image.url(:medium), class: "image", 'data-toggle'=>"modal", 'data-target'=>"#pinModal"
          .panel-footer
            .form-group.has-feedback
              %span.glyphicon.glyphicon-pencil.form-control-feedback(aria-hidden="true")
              %input.form-control#pin-title{placeholder: 'title', value: pin.title, 'data-id' => pin.id}
            .form-group.has-feedback
              %span.glyphicon.glyphicon-pencil.form-control-feedback(aria-hidden="true")
              %input.form-control#pin-description{placeholder: 'description', value: pin.description, 'data-id' => pin.id}
            .form-group.tags-group

  = link_to '← Back to albums', albums_path

:coffee
  window.album = #{@album.id}
  new App.Album el: $('.page')
