<!-- <h2>Log in</h2>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <%= f.input :email, required: false, autofocus: true %>
    <%= f.input :password, required: false %>
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Log in" %>
  </div>
<% end %>

<%= render "devise/shared/links" %> -->
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>Landing Page</title>
  <meta name="description" content="">
  <meta name="robots" content="noindex">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- CSS -->
  <%= stylesheet_link_tag 'style', media: 'all', 'data-turbolinks-track' => true %>
</head>
<body>
  <div class="main">
    <div class="design-back">
      <div class="col-sm-12 banner-text text-center">
        <h1>The <span class="text-everbook">Everbook</span> Shop is here!</h1>
        <h5>Shop the best of Everbook,right from iPhone or Android</h5>
        <img class="hidden-lg phone" src="/images/phone.png" title="phone" alt="phone"></img>
      </div>
    </div>
    <div class="signup-pane">
      <div class="signup-form">
        <div class="logo col-sm-12 text-center">
          <h1>Everbook</h1>
        </div>
        <div class="social col-sm-12">
          <button class="facebook btn btn-primary btn-block"><i class="fa fa-facebook"></i> Continue with Facebook</button>
        </div>
        <div class="divide-line col-sm-12">
          <p>or</p>
        </div>
        <div class="form col-sm-12">
          <form class="form">
            <div class="form-group">
              <input type="email" class="form-control" placeholder="Email">
            </div>
            <div class="form-group">
              <input type="password" class="form-control" placeholder="Create a password">
            </div>
            <div class="form-group">
              <button class="btn btn-danger btn-block signup-btn">Sign up</button>
            </div>
            <div class="terms col-sm-12 text-center">
              <h6>Creating an account means you’re okay with Everbook's</h6>
              <a href="#">Terms of Service</a>, <a href="#">Privacy Policy</a>
            </div>
            <div class="form-group">
              <button class="btn btn-default login-btn">Log in</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
