.page

  .cover
    %h1= t('welcome')
    %p= t('welcome_p')

  #pins.transitions-enabled
    .box.wrapper
      .panel.panel-default.panel-action
        .panel-body
          = link_to 'Upload', upload_path, {id: 'upload-button'}

      .panel.panel-default
        .panel-content
          .panel-body
            %h3 Hashtags
            .hashtags-container
              - @tags.each do |tag|
                .hashtag{href: "#"}
                  = link_to("##{tag}", get_mark_tag_url(tag))
                  = link_to get_unmark_tag_url(tag) do
                    %span.close ×
      .panel.panel-default
        .panel-content
          .panel-body
            = link_to "view all", family_bonds_path, class: "pull-right orange help"
            %h3 Friends
            - current_user.family.each do |friend|
              = link_to user_path(friend), class: "friend", title: "#{friend.full_name}" do
                = image_tag friend.avatar, width: 30, height: 30


    - @users.each do |user|
      .col-md-3
        = image_tag user.avatar.url
        = user.first_name + " " + user.last_name
        .col-sm-3
          = link_to 'Add Friend', friend_with_path(user), class: 'btn btn-default', method: :post




:coffee
  new App.Explore el: $('.page')
