%html
  %head
    %title
      = content_for?(:title) ? yield(:title) : 'Kidio - Home'

    = favicon_link_tag '/images/favicon.png'

    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.9.3/typeahead.min.js"

    = csrf_meta_tags
    %meta(name='viewport' content='initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width')
  %body
    - if user_signed_in?
      = render "shared/header"

    = render "shared/notice"

    .container
      = yield

    = render 'pins/modal'
