
%html
%head
  %title Pin Board
  = stylesheet_link_tag 'index_page', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags
%body
  = render "layouts/header"



  .container
    = yield



