%html
  %head
    %meta{:charset => "utf-8"}
    %title Landing Page
    %meta{:content => "", :name => "description"}
    %meta{:content => "noindex", :name => "robots"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}

    = stylesheet_link_tag 'landing', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
  %body
    .main
      .design-back
        .col-sm-12.banner-text.text-center
          %h1= t('landing.header')
          %h5= t('landing.p')
      .signup-pane
        .signup-form
          .logo.col-sm-12.text-center
            %h1= t('app')
          .social.col-sm-12
            =link_to user_omniauth_authorize_path(:google_oauth2), class: 'google btn btn-primary btn-block' do
              %i.fa.fa-google
              Continue with Google
          / .divide-line.col-sm-12
          /   %p or
          .social.col-sm-12
            =link_to user_omniauth_authorize_path(:facebook), class: 'facebook btn btn-primary btn-block', id: "sign_in_facebook" do
              %i.fa.fa-facebook
              Continue with Facebook
          .divide-line.col-sm-12
            %p or
          .form.col-sm-12
            .form
              - if flash.count > 0
                - class_list = 'has-error'

              = form_for(resource, as: resource_name, url: session_path(resource_name), html: {id: 'signin'}) do |f|
                %div{class: "form-group #{class_list}"}
                  = f.text_field :email, {:class => 'form-control', :placeholder => "Email", :type => "email", :id => 'email_field', required: true}
                  %span.help-block
                    - flash.each do |key, value|
                      = value

                %div{class: "form-group #{class_list}"}
                  = f.hidden_field :password, {:class => 'form-control', :placeholder => "Password", :type => "password", :id => 'password_field', required: true, title: "8 characters minimum"}
                .form-group
                  = f.hidden_field :remember_me, value: true
                  = f.button "Log in", class: 'btn btn-default btn-block login-btn'
                = link_to "Forgot your password?", new_password_path(resource_name)

              .terms.col-sm-12.text-center
                %h6= t('landing.terms')
                = succeed "," do
                  %a{:href => "#"} Terms of Service
                %a{:href => "#"} Privacy Policy
              .form-group
                %button.btn.btn-danger.signup-btn{'data-toggle'=>"modal", 'data-target'=>"#signUpModal"} Sign up

#signUpModal.modal.fade{"aria-labelledby" => "signUpModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      = form_for(resource, as: resource_name, url: registration_path(resource_name), html: {id: 'signup'}) do |f|
        .modal-header
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span.text-everbook{"aria-hidden" => "true"} &#215;
          %h3#signUpModalLabel.modal-title
            %span Sign up in
            %span.text-everbook Everbook
        .modal-body
          .form-group
            = f.text_field :email, {:class => 'form-control', :placeholder => "Email", :type => "email", :id => 'email_field', required: true}
          .form-group
            = f.password_field :password, {:class => 'form-control', :placeholder => "Password", :type => "password", :id => 'password_field', required: true, pattern: ".{8,}", title: "8 characters minimum"}
          = f.hidden_field :password_confirmation
        .modal-footer
          %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
          = f.button "Sign up", class: 'btn btn-danger signup-btn'


:coffee
  $("document").ready ->

    $("form#signup").on 'submit', (e) ->
      unless $("#signup").valid()
        e.preventDefault()
        return

      $("form#signup #user_password_confirmation").val($(e.target).find("#password_field").val())


